*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/build
/captures
/app/*.apk
/*.apk
.externalNativeBuild
../.idea/*
../app/gradle/*
/app/*.apk
/app/build/
app/release/

*.iml
.gradle
cleaner/local.properties
cleaner/.idea/workspace.xml
cleaner/.idea/libraries
cleaner/.idea/*
.DS_Store
cleaner/build
cleaner/captures
cleaner/app/*.apk
cleaner/*.apk
.externalNativeBuild
../.idea/*
../app/gradle/*
cleaner/app/*.apk
cleaner/app/build/
cleaner/app/release/
cleanerFA/device/build
cleanerFA/entry/build/
cleanerFA/device/.preview
cleanerFA/entry/.preview
cleanerFA/.idea/*
