.container {
    flex-direction: column;
    align-items: center;
}

.device-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 20px;
}

.device-name-text {
    margin-top: 15px;
    font-size: 15px;
}

.logo-img {
    height: 10px;
    margin-top: 10px;
    object-fit: contain;
}

.progress-container {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 20px;
}

.progress {
    width: 20px;
    height: 20px;
}

.progress-text {
    font-size: 12px;
    margin-left: 5px;
}

.option-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    opacity: 1;
}

.option-container:disabled {
    opacity: 0.3;
}

.option-top {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    justify-content: flex-start;
}

.switch-text {
    font-size: 15px;
    width: 80%;
    font-weight: 600;
}

.switch-icon {
    width: 48px;
    height: 48px;
}

.option-full-width-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 100%;
}

.half-width {
    width: 50%;
}

.option-half {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 10px;
}

.view-more {
    text-align: center;
    width: 100%;
    font-size: 16px;
    text-color: #0a59f7;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #00000000;
    opacity: 1;
}

.view-more:disabled {
    opacity: 0.3;
}

.option-font-normal {
    font-size: 15px;
}
