.container {
    height: 56px;
    width: 100%;
    align-items: center;
    position: fixed;
}
.back_icon_box {
    width: 48px;
    height: 56px;
    line-height: 56px;
    padding: 12px;
    margin-left: 12px;
    align-items: center;
}
.back_icon {
    width: 24px;
    height: 24px;
}
.menu_icon {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    object-fit: contain;
}

.title {
    margin-left: 2px;
    flex: 1;
    font-size: 20px;
    color: #000000;
    max-lines: 1;
    opacity: 0.9;
}
.popup_btn{
    font-size: 14px;
    background-color: rgba(0,0,0,0);
}
