#app {
    width: 100%;
    height: 100%;
    background: #F1F3F5;
    overflow: auto;
    position: relative;
}

.dark {
    width: 100%;
}

.disable {
    pointer-events: none;
    opacity: 0.4;
}

#app::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#app .addHeight {
    height: 28px;
}

#app .appMargin {
    margin: 0 12px;
    position: relative;
}

.backgroundColor {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.dark .backgroundColor {
    background-color: rgba(0, 0, 0, 0.2);
}


/* ------------标题栏 ------------------*/

.header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #F1F3F5;
    z-index: 8;
}

.dark .header {
    background: black;
}

.headerWrap {
    margin: 0 12px;
    padding: 0 12px;
}

.header .iphoneStatus {
    width: 100%;
    height: 24px;
}

.header .devTitle {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .devTitle .devName {
    flex: 1;
    margin-left: 0 16px;
    height: 36px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dark .header .devTitle .devName {
    color: rgba(255, 255, 255, 0.86);
}

.header .barLeft {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
}

.barLeft .goApp {
    width: 24px;
    height: 24px;
    background: url('../img/light/ic_back.png') no-repeat;
    background-size: cover;
}

.dark .barLeft .goApp {
    background: url('../img/dark/ic_back.png') no-repeat;
    background-size: cover;
}

.header .barRight {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.barRight .devMore {
    width: 24px;
    height: 24px;
    background: url('../img/light/ic_more.png') no-repeat;
    background-size: cover;
}

.dark .barRight .devMore {
    background: url('../img/dark/ic_more.png') no-repeat;
    background-size: cover;
}


/** main **/

.appMargin .mainWrap {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 80px;
}

.appMargin .mainWrap .main {
    position: relative;
    z-index: 8;
    width: 252px;
    height: 188px;
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.appMargin .mainWrap .title {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    opacity: 0.9;
    margin-top: -5 0px;
}

.dark .appMargin .mainWrap .title {
    color: #ffffff;
    opacity: 0.86;
}

.appMargin .mainWrap .msg {
    position: relative;
    padding: 12px;
    font-size: 14px;
    margin-top: 32px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    border-radius: 16px;
    background: #fff;
}

.dark .appMargin .mainWrap .msg {
    color: rgba(255, 255, 255, 0.86);
    background: #303030;
}

.appMargin .mainWrap .btnContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 8.4rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.appMargin .mainWrap .btnContainer .btn {
    font-family: HWtext-65ST;
    font-size: 1.6rem;
    color: #0A59F7;
    text-align: center;
    width: 50%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2rem;
    height: 40px;
    line-height: 3.6rem;
    position: absolute;
    bottom: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .appMargin .mainWrap .btnContainer .btn {
    background: rgba(255, 255, 255, 0.1);
    color: #5291ff;
}


/** 重置滤芯 */

.msg-div {
    position: fixed;
    bottom: 16px;
    width: 100%;
    z-index: 10;
    display: none;
}

.msg-main {
    margin: 0 12px;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 3%);
    padding: 0px 24px;
}

.dark .msg-main {
    background: #363636;
}

.msg-title {
    font-size: 20px;
    color: #000000;
    opacity: 0.9;
    height: 56px;
    display: flex;
    align-items: center;
}

.dark .msg-title {
    color: #FFFFFF;
    opacity: 0.86;
}

.msg-content {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
}

.dark .msg-content {
    color: rgba(255, 255, 255, 0.86);
    opacity: 0.86;
}

.msg-footer {
    margin-top: 8px;
    height: 56px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.msg-footer .btn_ok {
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    flex: 1;
    text-align: center;
    color: #0A59F7;
    font-size: 1.4rem;
}

.dark .msg-footer .btn_ok {
    color: #5291FF;
}

.btn_l {
    margin-left: -8px;
    margin-right: 4px;
}

.btn_r {
    margin-left: 4px;
    margin-right: -8px;
}

.msg-footer .line {
    width: 1px;
    height: 24px;
    align-self: center;
    background: rgba(0, 0, 0, 0.5);
    transform: scaleX(0.25);
    margin-top: -16px;
}

.dark .msg-footer .line {
    background: rgba(255, 255, 255, 0.5);
}

.shelter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.2;
    z-index: 9;
    display: none;
}

.dark .shelter {
    background: #000000;
    opacity: 0.4;
}


/* 截图框 */

.chuxuanx {
    /* background: red; */
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 1002;
}

.guanbix {
    position: absolute;
    top: 3px;
    right: 3px;
    /* color: #fff; */
    z-index: 1002;
    font-size: 14px;
}

.xuanxiang {
    background: rgba(0, 0, 0, 0.9);
    padding: 20rpx;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    width: 80%;
    height: fit-content;
    font-size: 16px;
    z-index: 1000;
    display: none;
    border: 1px solid red;
}

.xuanxiang ul li {
    padding: 20px;
}

.xuanxiang .queding {
    padding: 10px 20px;
}


/* debug */


/* .appMargin .mainWrap .main {
    background: rgba(0, 0, 0, 0.2);
}

.devTitle {
    background: rgba(0, 0, 0, 0.3);
} */