@import "../../../share/common/css/common.css";
.container-bg-color {
    background-color: #E8E8E8;
}
.option-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    opacity: 1;
}
.option-container:disabled{
    opacity: 0.3;
}

.top-margin-90 {
    margin-top: 90px;
}

